.auth{
	font-size: 1.7rem;
	margin-right: 50px;
	cursor: pointer;
	border: 1px solid black;
	background-color: black;
	color: white;
	padding: 12px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px purple;
	width: 150px;
	
}

.auth:hover{
	transition: 0.4s;
    transform: scale(1.1);
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}